*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Architects Daughter', cursive;
    transition: .5s;
}
:root{
    --primary-color: #fff;
    --second-color: #000;
    --third-color: #393939;
}
.dark-mode{
    --primary-color: #000;
    --second-color: #fff;
    --third-color: #fff;
}
body{
    background-color: var(--primary-color);
}
body::-webkit-scrollbar {
    width: 0;
    height: 0;
}
h2{
    font-size: 40px;
    font-family: 'Architects Daughter', cursive;
}
.navbar{
    background-color: var(--primary-color);
}
#icon, #icon1{
    width: 20px;
    cursor: pointer;
}
footer{
    background-color: #000;
    padding: 40px;
}
footer h2{
    font-size: 25px;
    font-weight: 300;
    color: white;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    padding-bottom: 20px;
}
footer .d-flex{
    width: 400px;
    height: 50px;
    justify-content: space-evenly;
    margin: auto;
}
footer img{
    width: 35px;
}
footer iframe{
    padding-top: 20px;
    margin: auto;
    display: flex;
}

footer p{
    font-size: 12px;
    color: #777777;
    text-align: center;
    padding-top: 20px;
}


#background-image1{
    background-image: url(asset/image/banner/team.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 450px;
    opacity: 0.2;
    /* position: relative; */
}
#background-color1{
    background-color: black;
    position: relative;
}
#sec1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    text-align: center;
    color: white;
}
#sec2{
    background-color: var(--primary-color);
    padding: 50px 0;
}
#sec2 .col-sm-6 div h3{
    width: 350px;
    color: var(--second-color);
    font-family: 'Architects Daughter', cursive;
}
#sec2 .col-sm-6 div h2{
    color: var(--second-color);
    width: 250px;
}
#sec2 .row:nth-child(2){
    padding: 40px 0;
}
#sec2 .col-sm-3 img{
    width: 100%;
    border-radius: 50%;
}
.col-sm-3 p{
    color: var(--second-color);
    margin-top: 10px;
}
#circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #d4d4d4;
}
 


@media only screen and (max-width: 992px){
    *{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    footer h2, h2{
        font-size: 25px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    footer p{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #background-image1{
        height: 300px;
    }
    #sec1{
        width: 70%;
    }
    #sec2 .col-sm-3 p{
        font-size: 12px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #sec2 .col-sm-6 div h3{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    }
    #circle{
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 800px){
    footer .d-flex{
        width: 100%;
    }
    footer iframe{
        width: 100%;
        height: 250px;
    }
    footer{
        padding: 80px 10px;
    }
    #sec1 h2, footer h2{
        font-size: 20px;
    }
    #circle{
        width: 120px;
        height: 120px;
    }
}

@media only screen and (max-width: 575px){
    #sec2 .col-sm-6 div h3{
        width: 100%;
    }
    #sec2 .col-sm-6 div h2{
        width: 100%;
    }
    #circle{
        width: 90px;
        height: 90px;
    }
}

@media only screen and (max-width: 400px){
    footer img{
        width: 30px;
    }
    #circle{
        width: 60px;
        height: 60px;
    }
}